table
{
    border-collapse: collapse;
    font-size:30px;
}
td
{
    padding: 7px;
    border: solid gray 5px;
}
tr:nth-child(odd)
{
    background-color: #10b442;
}
thead
{
    background-color: #427fef;
    color: white;
    padding-right:20px;
}
tr th{
    color:white;
    background-color: #427fef;
}
tfoot
{
    text-align: left;
}